{% extends 'base.html' %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="padding-top: 5vh;">
    <div class="col text-center">
        <h1>Results for {{ name + ' ' + code }}</h1>
        <p>Results for {{ uni }}</p>

        <div class="d-flex col justify-content-center align-items-center">
            <table class="table table-striped" style="max-width: 30vw">
                    <th>Course Code</th>
                    <th>Course Name</th>
                    <th>Overall Questions</th>

                  {% for dict in course_list %}
                  <tr>
                    <td>{{dict['course'].department + ' ' + dict['course'].code|string}}</td>
                    <td>{{dict['course'].name}}</td>
                    <td>{{dict['total_questions']}} Overall Questions</td>
                  </tr>
                  {% endfor %}
            </table>
        </div>
    </div>




</div>


{% endblock %}