{% extends "base.html" %}
{% block title %}Upload{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<!-- <div class="wrap" style="padding-left: 15%;">
  <div class="form">
      <h1>Upload your exam</h1>
      Content for the first column
      <form action="/create" method="post" enctype="multipart/form-data">
        <label for="file">File</label>
        <input type="file" name="fileUpload" class="form-control" id="inputGroupFile02">
        <label for="university">University</label>
        <input type="text" name="university" class="form-control" id="university" aria-describedby="university" placeholder="Enter university">
        <label for="department">Course Department</label>
        <input type="text" name="courseDept" class="form-control" id="department" placeholder="Enter course department">
        <label for="number">Course Number</label>
        <input type="text" name="courseNum" class="form-control" id="number" placeholder="Enter course number">
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

    <div class="image">
      Content for the second column
      <img src="{{ image_url }}" alt="calm person">
    </div>
  </div>
</div> -->



<div class="wrap" style="padding-left: 15%;">
  <div class="content">
      <div class="center">
        <h1>Upload your exam</h1>
        <p class="text">Help by contributing to our <span class="accentText">growing</span> problem bank</p>
      </div>
      <div class="form">
        <form action="/create" method="post" enctype="multipart/form-data">
          <label for="file">File</label>
          <input type="file" name="fileUpload" class="form-control" id="inputGroupFile02" accept=".pdf" required>
          <hr>
          <label for="university">University</label><br>
          <input type="text" name="university" id="university" name="university" value="" pattern="[A-Za-z]+" placeholder="Enter university" required><br>
          <label for="courseDept">Course Department</label><br>
          <input type="text" name="courseDept" id="courseDept" name="courseDept" value="" pattern="[A-Za-z]+" placeholder="Enter course department" required><br>
          <label for="courseNum">Course Number</label><br>
          <input type="text" name="courseNum" id="courseNum" name="courseNum" value="" pattern="[0-9]+" placeholder="Enter course number" required><br><br>
          <input type="submit" value="Submit &rarr;" class="centered-submit-button">
        </form> 
      </div>
  </div>
  <div class="image">
    <img src="{{ image_url }}" alt="calm person" class="wobbling-svg"/>
  </div>
</div>

{% endblock %}  