{% extends "base.html" %}
{% block title %}Upload{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}

<div class="hero">
  <div class="row">

    <div class="text-center col-sm d-flex justify-content-center align-items-center">
      <div class="left-hero">
        <h1>Upload your Exams</h1>
        <p class="text">Help by contributing to our <span class="accentText">growing</span> problem bank</p>
        <div class="form">
          <form action="">
              <label for="file" id="fileLabel">File</label><br>
              <input type="file" class="form-control" id="customFile" />
              <hr>
              <label for="university">University</label><br>
              <input type="text" id="university" name="university" value=""><br>
              <label for="university">Course Department</label><br>
              <input type="text" id="courseDept" name="courseDept" value=""><br>
              <label for="university">Course Number</label><br>
              <input type="text" id="courseNum" name="courseNum" value=""><br><br>
              <input type="submit" value="Submit" class="btn btn-dark">
            </form> 
      </div>
      </div>
    </div>

    <div class="text-center col-sm">
      <img src="{{ image_url }}" alt="picture" class="image-hero-upload">
    </div>
  </div>
</div>


{% endblock %}  