{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Posts{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('blog.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}

<div class="justify-content-center"></div>

<div class>
  <p style="font-size: 50px; font-family: 'Lora'; font-weight: 700;">examix</p>
  <p style="font-size: px; font-weight: 700;">Intuitive Exam Bank for optimized studying </p>
</div>

<div class="hero">

  <div class="row">


    <!-- <div class="text-center col-sm d-flex justify-content-center align-items-center">
      <div class="left-hero">
        <p class="logo-hero">examix</p>
        <p class="text-hero">Intuitive Exam Bank for optimized studying </p>
        <div class="button-hero">
          <button type="button" class="btn btn-dark pr-2">Search</button>
          <button type="button" class="btn btn-dark">Upload</button>
        </div>
      </div>
    </div>

    <div class="text-center col-sm">
      <img src="{{ image_url2 }}" alt="picture" class="image-hero">
    </div> -->



  </div>
</div>

<div class="button-hero">

</div>








{% endblock %}
