{% extends "base.html" %}
{% block title %}Upload{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
<style>
    .upvote-container {
        text-align: center;
    }

    .upvote-button {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        background-color: #3498db;
        color: #fff;
        border: none;
        padding: 10px;
        border-radius: 5px;
    }

    .upvote-button:hover {
        background-color: #2980b9;
    }

    #upvoteCount {
        font-size: 1.5rem;
        margin-bottom: 5px;
    }

    .wrap {
        display: flex;
        padding-left: 15%;
    }

    .content {
        display: flex;
    }

    .center {
        display: flex;
        flex-direction: column;
        /* flex: 1; */
        float: left;
        margin-top: 20%;
    }

    #click {
        /* display: flex; */
        float: left;
        /* flex: 1; */
        max-height: 40vw;
        max-width: 40vw;
        margin-top: 35%;
    }

    .table-container {
        overflow-x: auto;
        max-width: 30vw;
    }
</style>

{% block content %}
<div class="wrap">
        <div class="center" style="width: 50%; max-width: 50%;">
            <table class="table table-striped table-container">
                <tr>
                    <td id="descriptionQ"></td>
                </tr>
            </table>
        </div>
        <div id="click" class="justify-content-center align-items-center">
            <table class="table table-striped zui-table zui-table-horizontal zui-table-highlight">
                {% for dict in questions_list %}
                    <tr>
                        <th id="tq{{dict['num']|string}}" colspan="3">Question {{dict['q_num']|string}}</th>
                    </tr>
                    <tr>
                        <th>Points</th>
                        <th>Difficulty</th>
                        <th>Estimated Time</th>
                    </tr>
                    <tr>
                        <td id="tp{{dict['num']|string}}">{{dict['points']}}</td>
                        <td id="tdi{{dict['num']|string}}">{{dict['difficulty']}}</td>
                        <td id="tdu{{dict['num']|string}}">{{dict['duration']}}</td>
                    </tr>
                    <tr id="click" description="{{dict['description']}}">
                        <td style="text-overflow: ellipsis" id="tde{{dict['num']|string}}" colspan="3">{{dict['description_short']}}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
</div>

<script>
    const clickElement = document.getElementById('click');
    if (clickElement) {
        clickElement.addEventListener('click', () => {
            //let text = document.getElementById('click').innerHTML;
const targetRow = event.target.closest('tr');
            if (targetRow) {
                console.log(targetRow);
                const description = targetRow.getAttribute('description');
                document.getElementById('descriptionQ').innerHTML = description;
            }        //let title = document.getElementById('titleQ');
        //let difficulty = document.getElementById('difficultyQ');
        //let points = document.getElementById('pointsQ');
        //let time = document.getElementById('timeQ');

        //let description = document.getElementById('descriptionQ');

        //let image = document.getElementById('imageQ');

        //title.innerHTML = document.getElementById('tq').innerHTML;
        //difficulty.innerHTML = document.getElementById('tdi').innerHTML;
        //points.innerHTML = document.getElementById('tp').innerHTML;
        //time.innerHTML = document.getElementById('tdu').innerHTML;

        //description.innerHTML = document.getElementById('tde').innerHTML;

        //image.innerHTML = document.getElementById('ti').innerHTML;
        });
    }
</script>

<!-- <script>
    // Initialize the upvote count
    let upvoteCount = 0;

    // Get the necessary elements
    const upvoteButton = document.getElementById('upvoteButton');
    const upvoteCountElement = document.getElementById('upvoteCount');

    // Add a click event listener to the upvote button
    upvoteButton.addEventListener('click', () => {
        // Increment the upvote count
        upvoteCount++;
        
        // Update the upvote count element
        upvoteCountElement.textContent = upvoteCount;
    });

    function showQuestion() {
        let title = document.getElementById('titleQ');
        let type = document.getElementById('typeQ');
        let difficulty = document.getElementById('difficultyQ');
        let pageNum = document.getElementById('pageNumQ');
        let points = document.getElementById('pointsQ');
        let time = document.getElementById('timeQ');

        let description = document.getElementById('descriptionQ');

        let image = document.getElementById('imageQ');

        title.innerHTML = document.getElementById('tq').innerHTML;
        type.innerHTML = document.getElementById('tt').innerHTML;
        difficulty.innerHTML = document.getElementById('tdi').innerHTML;
        pageNum.innerHTML = document.getElementById('tpn').innerHTML;
        points.innerHTML = document.getElementById('tp').innerHTML;
        time.innerHTML = document.getElementById('tdu').innerHTML;

        description.innerHTML = document.getElementById('tde').innerHTML;

        image.innerHTML = document.getElementById('ti').innerHTML;
    }

</script> -->

{% endblock %}  