{% extends "base.html" %}
{% block title %}Upload{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
<style>
    .upvote-container {
    text-align: center;
    }

    .upvote-button {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        background-color: #3498db;
        color: #fff;
        border: none;
        padding: 10px;
        border-radius: 5px;
    }

    .upvote-button:hover {
        background-color: #2980b9;
    }

    #upvoteCount {
        font-size: 1.5rem;
        margin-bottom: 5px;
    }
    .content{
       display: flex;
    }

    #click tr:hover {
        background-color: #f5f5f5; /* Change background color on hover */
    }
</style>

{% block content %}
<div class="wrap" style="padding-left: 15%;">
    <div class="content">
        <div id="click" class="d-flex col justify-content-center align-items-center" style="float: left; overflow:scroll; max-height:40vw;">
            <table id="click" class="table table-striped zui-table zui-table-horizontal zui-table-highlight" style="max-width: 30vw; margin-top: 35%; border-collapse: collapse;">
                {% for dict in questions_list %}
                    <tr>
                        <th id="tq{{dict['num']|string}}" colspan="3" style="padding-top: 10%; background-color: white !important; box-shadow: none !important;border-bottom-width: 0 !important;">Question {{dict['q_num']|string}}</th>
                    </tr>
                    <tr>
                        <th style="background-color: white !important;box-shadow: none !important;border-bottom-width: 0 !important;">Points</th>
                        <th style="background-color: white !important;box-shadow: none !important;border-bottom-width: 0 !important;">Difficulty</th>
                        <th style="background-color: white !important;box-shadow: none !important;border-bottom-width: 0 !important;">Estimated Time</th>
                    </tr>
                    <tr>
                        <td id="tp{{dict['num']|string}}" style="background-color: white !important;box-shadow: none !important;border-bottom-width: 0 !important;">{{dict['points']}}</td>
                        <td id="tdi{{dict['num']|string}}" style="background-color: white !important;box-shadow: none !important;border-bottom-width: 0 !important;">{{dict['difficulty']}}</td>
                        <td id="tdu{{dict['num']|string}}" style="background-color: white !important;box-shadow: none !important;border-bottom-width: 0 !important;">{{dict['duration']}}</td>
                    </tr>
                    <tr id="click" description="{{dict['description']}}" style="">
                        <td style="text-overflow: ellipsis" id="tde{{dict['num']|string}}" colspan="3">{{dict['description_short']}}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="center" style="float: left; margin-top:20%;">
            <table class="table table-striped" style="max-width: 30vw">
                <tr>
                    <td id="descriptionQ"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<script>
const clickElement = document.getElementById('click');
    if (clickElement) {
        clickElement.addEventListener('click', () => {
            //let text = document.getElementById('click').innerHTML;
const targetRow = event.target.closest('tr');
            if (targetRow) {
                console.log(targetRow);
                const description = targetRow.getAttribute('description');
                document.getElementById('descriptionQ').innerHTML = description;
            }        //let title = document.getElementById('titleQ');
        //let difficulty = document.getElementById('difficultyQ');
        //let points = document.getElementById('pointsQ');
        //let time = document.getElementById('timeQ');

        //let description = document.getElementById('descriptionQ');

        //let image = document.getElementById('imageQ');

        //title.innerHTML = document.getElementById('tq').innerHTML;
        //difficulty.innerHTML = document.getElementById('tdi').innerHTML;
        //points.innerHTML = document.getElementById('tp').innerHTML;
        //time.innerHTML = document.getElementById('tdu').innerHTML;

        //description.innerHTML = document.getElementById('tde').innerHTML;

        //image.innerHTML = document.getElementById('ti').innerHTML;
        });
    }
</script>

{% endblock %}
