{% extends "base.html" %}
{% block title %}Upload{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<div class="wrap" style="padding-right: 15%; padding-left: 15%;">
    <div class="content" style="flex: 1; padding-right: 10%;">
        <div class="center">
          <h1>Exam Remix</h1>
          <p class="text">Lorem Ipsum ahahahaha ahah ahaha aha</p>
        </div>
    </div>
    <div class="form" style="flex: 1;">
        <form action="">
            <label id="remixHeader" for="header"><b>Remix your exams</b></label><br>
            <label for="subHeader">Create an exam perfectly customised to you</label><br>
            <label for="time" id="time">Time</label><br>
            <input type="text" id="time" name="time" value="" placeholder="Enter time" required><br>
            <div class="slider-container">
                <label for="customRange">Difficulty: <span id="difficultyValue">Medium</span></label><br>
                <input type="range" class="form-range" id="customRange" min="0" max="4" value="2" step="1">
                <p><span id="tooltip1">Easy</span> <span id="tooltip2">Hard</span></p><br>
            </div>
            <label for="course">Course</label><br>
            <input type="text" id="course" name="course" value="" placeholder="Enter course" required><br><br>
            <input type="submit" id="remixButton" value="Upload &rarr;" class="centered-submit-button">
          </form> 
    </div>
</div>

<script>
    document.getElementById('remixButton').addEventListener("click", () => {
        confetti();
    })
</script>
{% endblock %}  