{% extends "base.html" %}
{% block title %}Upload{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<div class="wrap" style="padding-right: 15%;">
    <div class="image">
        <img src="{{ image_url }}" alt="calm person"/>
    </div>
    <div class="content">
        <div class="center">
          <h1>Search for exams</h1>
          <p class="text">Search by university, department, or course number</p>
        </div>
        <div class="form">
            <form action="/search" method="post">
                <label for="search">Search</label><br>
                <input type="text" id="search" name="search" value="" placeholder="Enter search" required><br><br>
                <input type="submit" value="Search &rarr;" class="centered-submit-button wobbling-svg">
              </form> 
        </div>
    </div>
</div>
{% endblock %}  