{% extends "test.html" %}
{% block title %}Test Child 1{% endblock %}
{% block head %}
    {{ super() }}
    <style>
        .table-container {
            max-height: 70vh;
            overflow: auto;
        }
        table {
            width: 100%;
        }
        th, td {
            text-align: center;
        }
        thead th {
            position: sticky;
            top: 0;
            background-color: #f8f9fa; /* Add a background color for better visibility */
        }
    </style>
{% endblock %}

{% block content %}
<div class="input-group mb-3 pb-2">
    <input type="text" class="form-control" placeholder="Search for courses..." aria-label="Recipient's username" aria-describedby="button-addon2">
    <button class="btn btn-outline-secondary" type="button" id="button-addon2">Submit</button>
</div>

<div class="table-container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col" class="image-column">School</th>
                <th scope="col">Course</th>
                <th scope="col">Name</th>
                <th scope="col">Exams</th>
            </tr>
        </thead>
        <tbody>
            <tr onClick="window.location.href='/';">
                <th class="image-column">
                    <img src="{{ image_url }}" class="img-fluid" style="height: 3vh; width: auto;"> 
                </th>
                <td>CPSC 310</td>
                <td>Introduction to Relational Databases</td>
                <td>24 Exams</td>
            </tr>

            

            <!-- Add more rows as needed -->
        </tbody>
    </table>
</div>

{% endblock %}
