<div class="wrap">
    <div class="content">
        <div class="form">
            <form action="">
                <label for="file">File:</label><br>
                <input type="text" id="fname" name="fname" value="John"><br>
                <label for="lname">Last name:</label><br>
                <input type="text" id="lname" name="lname" value="Doe"><br><br>
                <input type="submit" value="Submit">
              </form> 
        </div>
    </div>
    <div class="image">

    </div>
</div>