{% extends "test.html" %}
{% block head %}
    {{ super() }}
    <style>
        * {
          box-sizing: border-box;
        }
        
        /* Create two equal columns that floats next to each other */
        .column {
          float: left;
          width: 50%;
          padding: 10px;
          height: 100%;
        }

        .column-right {
            float: right;
            width: 50%;
            padding: 10px;
            height: 100%;

        }
        
        /* Clear floats after the columns */
        .row:after {
          content: "";
          display: table;
          clear: both;
        }

        th, td {
            text-align: center;
        }

        table-hover {
            border-radius: 1vw;
        }

        .questions {
            max-height: 50vh;
            overflow: auto;
        }

        /* lineup class and keyframes */
        .lineUp {
        animation: 2s anim-lineUp ease-out;
        }
        @keyframes anim-lineUp {
        0% {
            opacity: 0;
            transform: translateY(80%);
        }
        20% {
            opacity: 0;
        }
        50% {
            opacity: 1;
            transform: translateY(0%);
        }
        100% {
            opacity: 1;
            transform: translateY(0%);
        }
        }
        </style>
{% endblock %}

{% block content %}
{% set department_code_formatted =  department_code.replace('_', ' ') %}
<h1 class="pb-4 text-center">Search Results for {{ department_code_formatted }}</h1>

<div class="row">
    <div class="column">
        <h2 class="text-center">Exams</h2>
        <hr></hr>
        <div class="table-container">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Exam</th>
                        <th scope="col">Term</th>
                        <th scope="col">Total Questions</th>
                        <th scope="col">Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Midterm 1</td>
                        <td>2021W</td>
                        <td>20</td>
                        <td>Hard</td>
                    </tr>
                    <tr>
                        <td>Midterm 2</td>
                        <td>2021W</td>
                        <td>20</td>
                        <td>Hard</td>
                    </tr>
                    <tr>
                        <td>Final</td>
                        <td>2021W</td>
                        <td>40</td>
                        <td>Easy</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    <div class="line column-right ">
        <div class="text-center">
            <h2>Questions</h2>
            <hr></hr>
        </div>
        <div class="questions" style="background-color:#ffffff;">
            <div class="pt-2 pb-2">
                <h5>Question 1.</h5>
                <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="d-flex justify-content-end pb-4">
                <div style="margin-right: 1vw;">
                    <button type="button" class="btn btn-light bi bi-hand-thumbs-down-fill btn-sm"> Hard</button>
                </div>
                <div style="margin-right: 1vw;">
                    <button type="button" class="btn btn-light bi bi-hand-thumbs-up-fill btn-sm"> Easy</button>
                </div>
            </div>

            <hr></hr>

            <div class="pt-2 pb-2">
                <h5>Question 1.</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="d-flex justify-content-end pb-4">
                <div style="margin-right: 1vw;">
                    <button type="button" class="btn btn-light bi bi-hand-thumbs-down-fill btn-sm"> Hard</button>
                </div>
                <div style="margin-right: 1vw;">
                    <button type="button" class="btn btn-light bi bi-hand-thumbs-up-fill btn-sm"> Easy</button>
                </div>
            </div>

            <hr></hr>
            
            <div class="pt-2 pb-2">
                <h5>Question 1.</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="d-flex justify-content-end pb-4">
                <div style="margin-right: 1vw;">
                    <button type="button" class="btn btn-light bi bi-hand-thumbs-down-fill btn-sm"> Hard</button>
                </div>
                <div style="margin-right: 1vw;">
                    <button type="button" class="btn btn-light bi bi-hand-thumbs-up-fill btn-sm"> Easy</button>
                </div>
            </div>
        </div>



</div>




{% endblock %}