{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <style>
        .question-border {
            background-color: #fafafa;
            border: 1px solid #cfcfcf; /* 2px width solid black border */
            border-radius: 5px;
            padding: 2vh;
            margin-bottom: 2vh;
            margin-top: 2vh;
        }

    </style>
{% endblock %}

{% block content %}
    <!-- BREADCRUMBS -->
    <div class="mb-3" style="background-color: rgb(255, 255, 255)">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/search" style="text-decoration: none; color: #4E5254;">Search</a></li>
              <li class="breadcrumb-item active" aria-current="page"><a href="/exams?&department=CPSC&code=101&school=UBC&exam_id=0" style="text-decoration: none; color: #4E5254;">{{ department + ' ' + code }}</a></li>
            </ol>
        </nav>
    </div>
    
    <!-- HEADER -->
    <div class="mb-4" style="background-color: rgb(255, 255, 255)">
        <h2 style="font-weight: 600;">Search Results for {{ department + ' ' + code }}</h2>
    </div>
    
    <!-- TABLE -->
    <div class="mb-3">
        <table class="table table-hover table-bordered ">
            <thead>
                <tr class="table-light">
                    <td scope="col">Exam</th>
                    <td scope="col">Term</th>
                    <td scope="col">Total Questions</th>
                    <td scope="col">Rating</th>
                </tr>
            </thead>

            <tbody>
                {% for exam in exams_array %}
                    <!-- dictionary parsing -->
                    {% set exam_info = exam['exam'] %}
                    {% set questions = exam['questions'] %}
                    <!-- variables -->
                    {% set exam_id = exam_info['exam_id'] %}

                    <tr onclick="redirectWithExamId('{{ exam_id }}')">
                        <td>{{ exam_id }}</td>
                        <td>N/A</td>
                        <td>{{ exam_info['num_questions'] }}</td>
                        <td>N/A</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- HEADER -->
    <div class="mb-4" style="background-color: rgb(255, 255, 255)">
        <h2 style="font-weight: 600;">Questions</h2>
    </div>

    <!-- QUESTIONS -->
    {% for question in questions_array %}
        <div>
            <div class="question-border">
                <p>{{ question['question'] }}</p>
            </div>
            <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-danger btn-sm" style="margin-right: 10px;"><i class="bi bi-hand-thumbs-down-fill"></i> Hard</button>
                <button type="button" class="btn btn-success btn-sm"><i class="bi bi-hand-thumbs-up-fill"></i> Easy</button>
            </div> 
        </div>
    {% endfor %}    
    

    <!-- JAVASCRIPT -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        function redirectWithExamId(exam_id) {
            // Grab the current URL
            var currentUrl = new URL(window.location.href);
            // Set the 'exam_id' parameter in the URL
            currentUrl.searchParams.set('exam_id', exam_id);
            // Redirect to the new URL
            window.location.href = currentUrl.href;
        }
    </script>
    
{% endblock %}
