{% extends "base.html" %}

{% block content %}
<div class="d-flex flex-column justify-content-center align-items-center">
    <!-- IMAGE -->
    <img src="{{ image_url}}" class="mb-4" style="height: 225px">
    
    <!-- HEADER -->
    <div class="mb-4 text-center" style="background-color: rgb(255, 255, 255)">
        <p style="font-size: 45px; font-weight: 700; margin-bottom: 0px;">Remix an Exam</p>
        <p style="font-size: 20px;">Create your own personalized exam customized for you.</p>
    </div>

    <!-- FORM -->
        <form action="/remix" method="post">
            <div class="d-flex flex-column justify-content-center">
                <div class="mb-3">
                    <label for="university">Course</label><br>
                    <input id="courseDept" placeholder="Enter course..." name="course" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </div>
                <div class=" mb-3">
                    <label for="university">Time</label><br>
                    <input id="courseDept" placeholder="Enter time (in minutes)..." name="time" type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </div>
                <div class="mb-3">
                    <label for="customRange1" class="form-label">Difficulty</label>
                    <input type="range" class="form-range" id="customRange1">
                </div>
            </div>
            
            <button type="submit" class="btn btn-dark w-100 mb-5" value="Submit">Remix →</button>
        </form> 


</div>


{% endblock %}

