{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <style>
        .table-container {
            max-height: 55vh;
            overflow: auto;
        }
        thead td {
            position: sticky;
            top: 0;
        }
    </style>
{% endblock %}

{% block content %}
<!-- HEADER -->
<div class="mb-5 text-center" style="background-color: rgb(255, 255, 255)">
    <p style="font-size: 45px; font-weight: 600; margin-bottom: 0px;">Search for a Course</p>
</div>

<!-- SEARCH BAR -->
<form class="d-flex flex-row position-relative mb-4" method="POST">
    <input type="search" class="form-control" placeholder="Search for a course.." id="example-search-input" name="search_result" required>

    <button class="btn btn-outline-light border-0 position-absolute end-0" type="submit">
        <i class="bi bi-search" style="color: black;"></i>
    </button>
</form>

<!-- TABLE -->
<div class="table-container">
    <table class="table table-hover table-bordered">
        <thead>
            <tr class="table-light">
                <td scope="col" class="image-column">School</th>
                <td scope="col">Course</th>
                <td scope="col">Name</th>
                <td scope="col">Total Exams</th>
            </tr>
        </thead>
        <tbody>
            {% for course in course_array %}
            {% set name = course.name %}
            {% set num_questions = course.num_questions|string %}
            <tr onClick="window.location.href='/exams?&department={{ course.department }}&code={{ course.code }}&school={{ course.school_id }}&exam_id=0'">
                {% if course.school_id.upper() == 'UBC' %}
                    <td class="image-column text-center">
                        <img src="{{ ubc_image }}" class="img-fluid" style="height: 3vh; width: auto;"> 
                    </td>
                {% elif course.school_id.upper() == 'UVIC' %}
                    <td class="image-column text-center">
                        <img src="{{ uvic_image }}" class="img-fluid" style="height: 3vh; width: auto;"> 
                    </td>
                {% endif %}
                
                <td>{{ course.department + ' ' + course.code|string }}</td>
                <td>{{ course.name }}</td>
                <td>{{ num_questions + ' ' + 'Exams'}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
