{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}JSON{% endblock %}</h1>
{% endblock %}

{% block content %}
    {%  for page in test %}
        <ul>
            <li>
                {{ page.page_num }}
            </li>
            <li>
                {{ page.width }}
            </li>
            <li>
                {{ page.height }}
            </li>
        </ul>
    {% endfor %}
    {%  for page in pages_from_db%}
        <ul>
            <li>
                {{ page['page_num'] }}
            </li>
            <li>
                {{ page['width'] }}
            </li>
            <li>
                {{ page['height'] }}
            </li>
        </ul>
    {% endfor %}
{% endblock %}
