{% extends "base.html" %}

{% block content %}
<div class="d-flex flex-column justify-content-center align-items-center">
    <!-- HEADER -->
    <div class="mb-3" style="background-color: rgb(255, 255, 255)">
        <h1 style="font-weight: 600;">Upload your Exam</h1>
        <p>Help by contributing to our <span class="accentText">growing</span> problem bank</p>
    </div>

    <!-- IMAGE -->
    <img src="{{ image_url}}" class="mb-3" style="height: 200px">

    <!-- FORM -->
    <form action="/create" method="post" enctype="multipart/form-data">
        <!-- FILE UPLOAD -->
        <label for="university">File</label><br>
        <div class="input-group mb-3">
            <input type="file" class="form-control" id="inputGroupFile02" name="fileUpload" accept=".pdf" required>
            <label class="input-group-text" for="inputGroupFile02">Upload</label>
        </div>
          
        <!-- UNIVERSITY -->
        <label for="university">University</label>
        <br>
        <div class="input-group mb-3">
            <select class="form-select" id="university" name="university">
              <option value="1">UVIC</option>
              <option value="2">UBC</option>
            </select>
        </div>

        <label for="university">Course Deparment</label><br>
        <div class="input-group mb-3">
            <input id="courseDept" name="courseDept" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>

        <label for="university">Course Number</label>
        <div class="input-group mb-4">
            <input id="courseNum" name="courseNum" type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>

        <button type="submit" class="btn btn-dark w-100" value="Submit">Upload</button>
    </form> 
</div>


{% endblock %}